.mainContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
    max-width: 800px;
    margin: 100px auto;
}
.mainImage{
    width: 100%;
    height:250px;
}
.mainImage img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}